.post {
    background-color: #DCDCDC;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.instagram-header {
    text-align: center;
}

.card-image {
    background-color: white;
}

.card-image img {
    width: 100%;
    height: auto;

}

.card-header {
background-color: white;
padding-left: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.card-comments {
 padding-top: 0px;
 padding-left: 10px;
 padding-bottom: 10px;
 background-color: white;
 color: rgb(85, 83, 83);
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.h2 {
    font-weight: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.card-header text {
background-color: white;
}

.instagram-card {
margin: auto;
width: 50%;

}

.card-header-title {
    width: 70%;
    height: auto;
    font-size: unset;

}

.card-header-date {
    width: 30%;
    height: auto;
    color: gray;
    
}

.span {
    margin-top: 0px;
    margin-bottom: 0px;
}